<div class="signin-form">
<h1>Sign In</h1>

<strong><%= flash[:errors] %></strong>
<form action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Email</label>
  <input name="user[email]" type="text">

  <label>Password</label>
  <input name="user[password]" type="password">
  <input type="submit" value="Submit" class="submit"><br>
</form>
</div>

<script>
  $(function(){
    $("body").removeClass("white-back");
  })
</script>
