<h4>Create Board</h4>
<i class="close">&times</i>
<section class="input">
  <label for="board_title">Title<label>
  <input type="text" name="board[title]">
</section>

<button class="submit">Create</button>
