html, body, div, p, h1, h2, h3, h4, a, label, button, nav {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;;
  text-decoration: inherit;

  background: transparent;
}

body {
  font-family: sans-serif;
}
