<ul id="sortable" class="lists-index group" id="sortable">
</ul>
<a class="new-list">
  <button class="add-list">Add a list...</button>
</a>

<script>
  $(function() {
    $("#sortable").sortable();
    $("#sortable").disableSelection();
  });
</script>
