<input type="hidden" name="list[board_id]" value="<%= board.escape('id') %>">
<section class="input">
<input type="text"
       name="list[title]"
       class="input-title"
       placeholder="Add a list..."
       value="<%= list.escape('title') %>">
</section>
<button class="submit">Save</button>
